# Environment
NODE_ENV=development

# Server
PORT=3001
AUTH_SERVICE_PORT=3001

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=startour_auth_db

# JWT — doit être identique dans StarTour-Data
JWT_SECRET=startour_jwt_super_secret_2024
JWT_EXPIRES_IN=24h

# CORS
CORS_ORIGIN=*

# Logging
LOG_LEVEL=info
